GLPI_CLIENT_ID=
GLPI_CLIENT_SECRET=
GLPI_USERNAME=glpi
GLPI_PASSWORD=glpi

OPENPROJECT_URL=http://<server>:7003
OPENPROJECT_API_TOKEN=

XWIKI_URL=http://<server>:7002
# Note: must be the full XWiki user reference, e.g. XWiki.birkan
XWIKI_USERNAME=XWiki.birkan
XWIKI_PASSWORD=
